// Global colors
:root {
  --main-color: #a767bd;
  --sec-color: #ffffff;
  --black-color: #000;

  // Font sizes
  $font-size-large: 2.2rem;
  $font-size-default: 2rem;
  $font-size-small: 1.8rem;
}

// Global maximum width
$global-max-width: 1440px;
