@forward 'variables';
@forward 'fonts';
@forward 'animations';
@forward 'helpers';

// Configure Sass-mq
$breakpoints: (
  xs: 0px,
  s: 375px,
  m: 480px,
  l: 768px,
  xl: 990px,
  xxl: 1440px,
  navigation: 1300px,
);

@use 'sass-mq/mq' with (
  $breakpoints: $breakpoints
);

@use "@/assets/scss/mixins" as *;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black-color);
  color: var(--sec-color);
  font-size: var(--font-size-default);
  margin: 0;
  width: 100%;

  @include mq.mq($until: l) {
    height: 100%;
  }

  @include mq.mq($from: xl) {
    margin: 0 auto;
    width: var(--global-max-width);
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin: 4rem 2rem 2rem;

  @include mq.mq($until: xl) {
    height: 8rem;
  }
}

.header__logo {
  display: block;
  height: auto;
  width: 30.7rem;

  @include mq.mq($until: m) {
    max-width: 10rem;
    padding-bottom: 2rem;
  }

  @include mq.mq($from: xxl) {
    padding-left: 2.5rem;
  }
}

a {
  color: var(--main-color);
  -o-transition: color 0.3s ease-out, background 1s ease-in;
  -ms-transition: color 0.3s ease-out, background 1s ease-in;
  -moz-transition: color 0.3s ease-out, background 1s ease-in;
  -webkit-transition: color 0.3s ease-out, background 1s ease-in;
  text-decoration: none;
  transition: color 0.3s ease-out, background 1s ease-in;
}

a:link,
a:visited,
a:active,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  color: var(--sec-color);
  font-style: italic;
}

a.link--inverted {
  color: var(--black-color);
  text-decoration: underline;

  &:hover {
    color: var(--black-color);
  }
}

.iframe {
  margin: auto;

  @include mq.mq($until: l) {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}

.cxa-circle-logo {
  height: 8rem;

  @include mq.mq($from: xl) {
    height: 30vmin;
  }
}

.content {
  color: var(--sec-color);
  display: flex;
  font-family: 'DidacticGothic', Helvetica, Arial, sans-serif;
  font-size: var(--font-size-default);
  justify-content: center;
  margin: 0 2rem 2rem;
  line-height: 1.4;

  @include mq.mq($until: m) {
    font-size: var(--font-size-small);
  }

  @include mq.mq($from: navigation) {
    margin: 0 2rem 2rem 35rem;
  }
}

.hrr {
  border: none;
  border-top: 0.2rem dashed var(--main-color);
  margin: 1rem 0;
}

.stars {
  color: var(--main-color);
}
