@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.content__release {
  align-items: center;
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  @include mq.mq($from: xl) {
    align-items: flex-start;
    background-color: transparent;
    flex-direction: row;
  }
}

.content__release-back-button {
  font-size: var(--font-size-large);
  height: fit-content;
  padding: 1.25rem;

  @include mq.mq($until: xl) {
    background-color: var(--black-color);
    width: 100%;
  }

  @include mq.mq($from: l) {
    font-size: var(--font-size-default);
    padding: 1.25rem;
  }
}

.content__release-info {
  align-items: center;
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 31.25rem;
  padding: 2rem;

  @include mq.mq($from: l) {
    padding: 2rem;
  }

  @include mq.mq($from: xl) {
    align-self: flex-start;
    flex-basis: 50%;
    padding: 3rem;
    position: sticky;
    top: 0;
  }
}

.content__release--release-card {
  height: fit-content !important;

  &:hover,
  &:focus-visible {
    background-color: var(--main-color) !important;
  }

  &:hover .release-card__info-catnr,
  &:focus-visible .release-card__info-catnr {
    color: var(--sec-color) !important;
  }
}

.content__release-info iframe {
  margin: 0 auto;
}

.content__release-info-details {
  background-color: var(--sec-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9375rem;
  margin-top: 0.9375rem;
  padding: 0 1.25rem;
  width: 100%;

  & * {
    margin: 0;
  }

  @include mq.mq($from: l) {
    margin-bottom: 0;
    padding: 0;
  }
}

.content__release-promotext {
  background-color: var(--main-color);
  padding: 2rem;

  @include mq.mq($from: l) {
    flex-basis: 50%;
    padding: 3rem;
  }
}

.content__release-promotext-blurb {
  margin-bottom: 2.5rem;
}

.content__release-promotext-blurb .expandable-text__toggle {
  border: 2px dashed var(--sec-color);
  color: var(--sec-color);
}

.content__release-promotext-credits {
  ul {
    @include list-reset();
  }
}

.content__home-right-section {
  .link--inverted {
    color: var(--main-color);
  }

  .link--inverted:hover {
    color: var(--sec-color);
  }
}

hr.hrr--content-release {
  border: none;
  border-top: 2px dashed var(--sec-color);
  margin: 1.25rem 0;
}
