@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

:root {
  --content-card-font-color: black;
}

.content__releases-wrapper {
  width: 100%;
}

.content__releases-sort-button {
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  float: right;
  font-size: var(--font-size-small);
  height: fit-content;
  margin-bottom: 2rem;
  padding: 1rem;
  width: fit-content;

  &:hover {
    background-color: var(--sec-color);
    color: var(--main-color);
  }

  @include mq.mq($from: l) {
    float: left;
    font-size: var(--font-size-default);
  }
}

.content__releases {
  @include list-reset();

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  @include mq.mq($from: l) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

.content__releases-card {
  background-color: var(--main-color);
  transition: color 0.3s ease-out, background 0.3s ease-in;

  &:hover,
  &:focus-visible {
    background-color: var(--sec-color);
    color: var(--content-card-font-color);
  }
}
