@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.release-card {
  background-color: var(--main-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: color 0.3s ease-out, background 0.3s ease-in;

  &:hover,
  &:focus-visible {
    background-color: var(--sec-color);
    font-style: italic;
  }

  &:hover .release-card__info-catnr,
  &:focus-visible .release-card__info-catnr {
    color: var(--main-color);
  }

  &:hover .release-card__info::before,
  &:focus-visible .release-card__info::before {
    font-style: normal;
  }
}

.release-card__image {
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;
}

.release-card__info {
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.2rem;
  padding: 2rem;
  position: relative;

  &::before {
    color: var(--sec-color);
    content: "✺";
    font-size: 7rem;
    left: -3rem;
    position: absolute;
    top: -5.2rem;
  }
}

.release-card__link {
  color: var(--black-color);
  font-size: var(--font-size-small);
  line-height: 1.1;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    height: 100%;
    height: 100vh;
    inset: 0;
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
  }

  &:hover,
  &:focus-visible {
    color: var(--black-color);
  }
}

.release-card__info-catnr {
  color: var(--sec-color);
  font-size: var(--font-size-smallest);
  margin-left: auto;
  margin-top: auto;
}
