@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.content__links {
  @include list-reset();

  background-color: var(--main-color);
  border-left: 0.5rem solid var(--sec-color);
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  width: 100%;

  @include mq.mq($from: xl) {
    border-left: 1rem solid var(--sec-color);
  }

  &:after {
    bottom: -6.5rem;
    content: "✺";
    font-size: 10rem;
    position: absolute;
    right: 0;

    @include mq.mq($from: l) {
      bottom: -9.2rem;
      font-size: 14rem;
    }

    @include mq.mq($from: xl) {
      bottom: -11.9rem;
      font-size: 18rem;
    }
  }

  @include mq.mq($from: xl) {
    margin-top: 0;
  }
}

.content__link {
  font-size: var(--font-size-small);

  @include mq.mq($until: xl) {
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  @include mq.mq($from: xl) {
    font-size: var(--font-size-large);
  }

  a.link--inverted:hover,
  a.link--inverted:focus {
    color: var(--sec-color);
  }
}
