@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.content__links {
  @include list-reset();

  background-color: var(--main-color);
  border-left: var(--border-left-white);
  margin-top: 1.25rem;
  padding: 1.25rem;
  position: relative;
  width: 100%;

  @include mq.mq($from: xl) {
    border-left: 0.625rem solid var(--sec-color);
  }

  &:after {
    bottom: -4.0625rem;
    content: "✺";
    font-size: 6.25rem;
    position: absolute;
    right: 0;

    @include mq.mq($from: l) {
      bottom: -5.75rem;
      font-size: 8.75rem;
    }

    @include mq.mq($from: xl) {
      bottom: -7.4375rem;
      font-size: 11.25rem;
    }
  }

  @include mq.mq($from: xl) {
    margin-top: 0;
  }
}

.content__link {
  font-size: var(--font-size-small);

  @include mq.mq($until: xl) {
    &:not(:last-of-type) {
      margin-bottom: 0.9375rem;
    }
  }

  @include mq.mq($from: xl) {
    font-size: var(--font-size-large);
  }

  a.link--inverted:hover,
  a.link--inverted:focus {
    color: var(--sec-color);
  }
}
