@use 'sass-mq/mq';
@use "@/assets/scss/mixins" as *;

.content__links {
  @include list-reset();

  background-color: var(--main-color);
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;

  @include mq.mq($from: xl) {
    margin-top: 0;
  }
}

.content__link {
  font-size: 2.2rem;

  @include mq.mq($until: xl) {
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  a.link--inverted:hover,
  a.link--inverted:focus {
    color: var(--sec-color);
  }
}
