@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.expandable-text {
  &__content {
    --max-height: 30rem;

    max-height: var(--max-height);
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease-out;

    &::after {
      bottom: 0;
      content: "";
      height: 5rem;
      left: 0;
      position: absolute;
      right: 0;
    }

    &--expanded {
      max-height: 100rem;

      &::after {
        display: none;
      }
    }
  }

  &__toggle {
    background: none;
    border: 0.2rem solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
}
