@use 'sass-mq/mq';
@use 'scss/mixins';

.content__release {
  align-items: center;
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  @include mq.mq($from: xl) {
    align-items: initial;
    background-color: transparent;
    flex-direction: row;
  }
}

.content__release-back-button {
  height: fit-content;

  @include mq.mq($until: l) {
    background-color: var(--black-color);
    padding-bottom: 2rem;
    width: 100%;
  }

  @include mq.mq($from: l) {
    padding-right: 2rem;
  }
}

.content__release-info {
  align-items: center;
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  max-width: 50rem;

  @include mq.mq($from: xl) {
    flex-basis: 50%;
    padding: 5rem;
  }
}

// .content__release-info {
//   a:hover,
//   a:focus {
//     color: var(--sec-color);
//   }
// }

.content__release-info iframe {
  margin: 0 auto;
}

.content__release-info-link {
  display: flex;
  flex-direction: column;
}

.content__release-info-text,
.content__release-info-catnr {
  background-color: var(--main-color);
  color: var(--sec-color);
  padding: 0 2rem;
}

.content__release-info-text {
  padding-top: 2rem;
}

.content__release-info-catnr {
  padding-bottom: 2rem;
}

.content__release-image {
  width: 100%;
}

.content__release-promotext {
  background-color: var(--main-color);
  padding: 2rem;

  @include mq.mq($from: l) {
    flex-basis: 50%;
    padding: 5rem;
  }
}

hr.hrr--content__release {
  border: none;
  border-top: 0.2rem dashed var(--sec-color);
  margin: 2rem 0;
}

.content__release-promotext-credits {
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    @include mixins.list-reset();
  }
}
