@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.content__home {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 1.25rem;

  @include mq.mq($from: xl) {
    align-items: flex-start;
    flex-direction: row;
    gap: 2.5rem;
  }

  .expandable-text__toggle {
    margin-bottom: 1.25rem;
  }
}

#content__home-left {
  @include mq.mq($from: xl) {
    align-self: flex-start;
    position: sticky;
    top: 2.5rem;
  }
}

.content__home-out-now {
  background-color: var(--main-color);
  border-left: var(--border-left-white);
  color: var(--black-color);
  display: flex;
  font-size: var(--font-size-default);
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.9375rem;
  position: relative;
  transition:
    color 0.5s ease-in-out,
    background 0.5s ease-in-out;

  &::before {
    content: "✺";
    color: var(--sec-color);
    font-size: 3.75rem;
    position: absolute;
    right: 0;
    top: -2.75rem;

    @include mq.mq($from: xl) {
      font-size: 6.25rem;
      top: -4.625rem;
    }
  }

  @include mq.mq($from: m) {
    font-size: 1.5rem;
  }

  @include mq.mq($from: l) {
    padding: 1.5rem;
  }
}

a.content__home-out-now {
  &:hover,
  &:focus-visible {
    background-color: var(--sec-color);
    border-left: var(--border-left-white-hover);
    color: var(--black-color);

    &:before {
      color: var(--main-color);
      font-style: normal;
    }

    .release-card__out-now,
    .release-card__icon {
      color: var(--main-color);
    }
  }
}

.content__home .content__home-img {
  aspect-ratio: 1/1;
  margin-bottom: 0.625rem;

  @include mq.mq($until: m) {
    height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.content__home-release-format,
.content__home-right-section {
  .link--inverted {
    color: var(--main-color);
  }

  .link--inverted:hover {
    color: var(--sec-color);
  }
}

.content__home-release-date {
  margin: 1px 0 0 0;
}

.content__home-right {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  padding: 0 0 0 1.25rem;

  @include mq.mq($until: xl) {
    margin-top: 2.5rem;
    padding: 0;
  }
}

.content__home-right-section-list,
.content__home-right-section-credits {
  @include list-reset();
}

.release-card__header {
  align-items: flex-end;
  display: flex;
  margin: -0.625rem 0 0 0;
  padding: 1.25rem 0;
}

.release-card__out-now {
  color: var(--sec-color);
  font-family: var(--font-family--secondary);
  font-size: var(--font-size-smallest);

  @include mq.mq($from: l) {
    font-size: var(--font-size-default);
  }
}

.release-card__icon {
  color: var(--sec-color);
  margin-left: 0.625rem;
}

.release-card__body {
  font-size: var(--font-size-default);
  margin: -1.25rem 0 0 0;

  @include mq.mq($from: l) {
    font-size: var(--font-size-large);
  }
}
