@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.content__home {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 2rem;

  @include mq.mq($from: xl) {
    flex-direction: row;
    gap: 4rem;
  }
}

.content__home-out-now {
  -moz-transition: color 0.3s ease-out, background 0.3s ease-in;
  -ms-transition: color 0.3s ease-out, background 0.3s ease-in;
  -o-transition: color 0.3s ease-out, background 0.3s ease-in;
  -webkit-transition: color 0.3s ease-out, background 0.3s ease-in;
  background-color: var(--main-color);
  border-left: var(--border-left-white);
  color: var(--black-color);
  display: flex;
  font-size: var(--font-size-default);
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1.5rem 2rem 1.5rem;
  position: relative;
  transition: color 0.3s ease-out, background 0.3s ease-in;

  &::before {
    content: "✺";
    color: var(--sec-color);
    font-size: 6rem;
    position: absolute;
    right: 0;
    top: -4.4rem;

    @include mq.mq($from: xl) {
      font-size: 10rem;
      top: -7.4rem;
    }
  }

  @include mq.mq($from: m) {
    font-size: 3rem;
  }

  p {
    margin: 0;
  }
}

a.content__home-out-now {
  &:hover,
  &:focus-visible {
    background-color: var(--sec-color);
    border-left: var(--border-left-white-hover);
    color: var(--black-color);

    &:before {
      color: var(--main-color);
      font-style: normal;
    }

    .release-card__out-now,
    .release-card__icon {
      color: var(--main-color);
    }
  }
}

.content__home .content__home-img {
  aspect-ratio: 1/1;
  margin-bottom: 1rem;

  @include mq.mq($until: m) {
    height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.content__home-release-format,
.content__home-right-section {
  .link--inverted {
    color: var(--main-color);
  }

  .link--inverted:hover {
    color: var(--sec-color);
  }
}

.content__home-release-date {
  margin: 0.1rem 0 0 0;
}

.content__home-right {
  padding: 0 0 0 2rem;

  @include mq.mq($until: xl) {
    margin-top: 2rem;
    padding: 0;
  }
}

.content__home-right-section-list,
.content__home-right-section-credits {
  @include list-reset();
}

.release-card__header {
  align-items: flex-end;
  display: flex;
}

.release-card__out-now {
  color: var(--sec-color);
  font-family: var(--font-family--secondary);
  font-size: var(--font-size-smallest);

  @include mq.mq($from: l) {
    font-size: var(--font-size-default);
  }
}

.release-card__icon {
  color: var(--sec-color);
  margin-left: 1rem;
}

.release-card__body {
  font-size: var(--font-size-default);

  @include mq.mq($from: l) {
    font-size: var(--font-size-large);
  }
}
