@use 'sass-mq/mq';
@use "@/assets/scss/mixins" as *;

.content__home {
  display: flex;
  flex-direction: column;
  gap: 0;

  @include mq.mq($from: xl) {
    flex-direction: row;
    gap: 4rem;
  }
}

.content__home-out-now {
  -moz-transition: color 0.3s ease-out, background 0.3s ease-in;
  -ms-transition: color 0.3s ease-out, background 0.3s ease-in;
  -o-transition: color 0.3s ease-out, background 0.3s ease-in;
  -webkit-transition: color 0.3s ease-out, background 0.3s ease-in;
  background-color: var(--main-color);
  color: var(--black-color);
  display: block;
  font-size: var(--font-size-default);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  transition: color 0.3s ease-out, background 0.3s ease-in;

  @include mq.mq($from: m) {
    font-size: 3rem;
    font-weight: normal;
  }
}

.content__home-out-now:hover {
  background-color: var(--sec-color);
  color: var(--black-color);
}

.content__home-out-now-text {
  align-items: center;
  display: flex;
}

.content__home-out-now-icon {
  margin-left: 0.5rem;
}

.content__home .content__home-img {
  margin-bottom: 1rem;

  @include mq.mq($until: m) {
    max-width: 100%;
    width: 100%;
  }
}

.content__home-release-format,
.content__home-right-section {
  .link-inverted {
    color: var(--main-color);
  }

  .link-inverted:hover {
    color: var(--sec-color);
  }
}

.content__home-release-date {
  margin: 0.1rem 0 0 0;
}

.content__home-right {
  padding: 0 0 0 2rem;

  @include mq.mq($until: xl) {
    margin-top: 2rem;
    padding: 0;
  }
}

.content__home-right-section-credits {
  @include list-reset();
}
