@use "sass-mq/mq";
@use "@/assets/scss/mixins" as *;

.header__menu {
  font-family: var(--font-family--secondary);

  @include mq.mq($until: l) {
    display: flex;
    font-size: 3rem;
    margin-top: 0;
  }

  @include mq.mq($from: l) {
    font-size: calc(1rem + 2vmin);
    margin-top: 2.5rem;
  }
}

.header__menu ul li a,
.header__menu ul li a:link,
.header__menu ul li a:visited,
.header__menu ul li a:active {
  display: inline-block;
  outline: none;
  position: relative;
  width: auto;
}

.header__menu-button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  /* margin: -0.5rem -0.5rem 0 0; */
  width: 5rem;

  @include mq.mq($from: xl) {
    display: none;
  }
}

.header__menu-button-bar,
.header__menu-button::after,
.header__menu-button::before {
  background-color: var(--main-color);
  content: "";
  display: block;
  height: 0.4rem;
  margin: 0.6rem 0;
  transition: 0.3s;
  width: 100%;
}

.header__menu-button.active::before {
  transform: translate(0, 1rem) rotate(-45deg);
}

.header__menu-button.active::after {
  transform: translate(0, -1rem) rotate(45deg);
}

.header__menu-button.active .header__menu-button-bar {
  opacity: 0;
}

.header__menu-text {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nav-list-container {
  border-bottom: 0.3rem dashed var(--main-color);

  @include mq.mq($until: xl) {
    background-color: var(--black-color);
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color 0.2s;
    visibility: hidden;
  }
}

.nav-list-container--open {
  background-color: var(--black-color);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 12rem;
  visibility: visible;
  width: 100vw;
  z-index: 103;
}

.nav-list {
  @include list-reset();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem 0;
  justify-content: flex-end;
  position: relative;

  @include mq.mq($until: xl) {
    flex-direction: column;
    justify-content: start;
    margin-top: 2rem;
  }

  @include mq.mq($from: xl) {
    gap: 0;
  }
}

.nav-list:not(.nav-list.active) {
  @include mq.mq($until: xl) {
    display: none;
  }
}

.nav-list__item {
  display: block;
  text-align: center;

  .router-link-active {
    color: var(--sec-color);
    font-style: italic;
  }

  @include mq.mq($from: xl) {
    margin: 0.5rem 2rem;
  }
}

.nav-list__item a:hover,
.nav-list__item a:focus {
  color: var(--sec-color);
  font-style: italic;
}

.nav-list__item a:focus {
  outline: 2px solid var(--sec-color);
  outline-offset: 2px;
}

.active {
  background-color: black;
  left: 0;
  text-align: center;
  transition: 0.3s;
  z-index: 666;
  padding-left: 0;
  position: relative;
}
